<div class="sidebar-widget">
  <h4 class="widget-title">Popular Categories</h4>
  <ul class="cat-list">
    <li><a href="{{ '/list.html?type=implant' | relative_url }}">Dental implant <span>02</span></a></li>
    <li><a href="{{ '/list.html?type=treatment' | relative_url }}">Dental treatment <span>02</span></a></li>
    <li><a href="{{ '/list.html?type=veneers' | relative_url }}">Dental veneers <span>01</span></a></li>
    <li><a href="{{ '/list.html?type=general' | relative_url }}">General dentistry <span>01</span></a></li>
    <li><a href="{{ '/list.html?type=orthodontics' | relative_url }}">Orthodontics <span>02</span></a></li>
    <li><a href="{{ '/list.html?type=pediatric' | relative_url }}">Pediatric dentistry <span>02</span></a></li>
    <li><a href="{{ '/list.html?type=crown' | relative_url }}">Porcelain crown <span>03</span></a></li>
  </ul>
</div>
